@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@300;400;500;600;700&display=swap');

html {
	background:transparent;
	overflow: hidden; 
}

body {
	display: block;
	background: transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	z-index:9999;
}
#wrap {	
	font-family: 'Rajdhani', sans-serif;
	width: 100%;
	height: 100%;
	color: rgba(255, 255, 255, 1);
	overflow: hidden;
}
#timer{
    position: absolute;
    bottom: -2%;
    right: 0;
    margin-right:20% ;
    width: 9%;
    height: 15%;
    border-radius: 1vh 1vh 0vh 0vh;
    background: radial-gradient(61.14% 55.79% at 82.9% 72.52%, rgba(40, 255, 0, 0.4) 0%, rgba(185, 255, 0, 0) 99.99%);
    background-size: 200% 200%;
    animation: animateBackground 2s linear infinite alternate;
    display: flex;
    flex-direction: column;
}
@keyframes animateBackground {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
#tx_title{
    position: absolute;
    height: 25%;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-4deg);
    font-size: 2.2vh;
}
#time{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tx_time{
    margin-top: 10%;
    height: 100%;
    width: 20%;
    background-color: #ffffff52;
    border-radius: 0.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    font-weight: bold;
}
#money{
    margin-top: 15%;
    height: 32%;
    width: 100%;
    display: flex;
    justify-content: center;
    animation: animateMoney 4s linear infinite alternate;
}
@keyframes animateMoney {
    0% {
        height: 32%;
    }
    100% {
        height: 30%;
    }
}




